<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iherb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IHerb">
        <activity android:name=".Activity.PassTestActivity"></activity>
        <activity android:name=".Activity.MakingTestsActivity" />
        <activity android:name=".Anketa.ResultAnaliz" />
        <activity android:name=".Anketa.Anketa" />
        <activity android:name=".Auth.EntranceActivity" />
        <activity android:name=".Auth.RegisterActivity" />
        <activity android:name=".Auth.EntranceAndRegister" />
        <activity android:name=".Anketa.AnketaActivity" />
        <activity android:name=".SplashScreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>